{
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@root/(.*)$",
    "^@global/(.*)$",
    "^@worker/(.*)$",
    "^@auth/(.*)$",
    "^@service/(.*)$",
    "^@socket/(.*)$",
    "^@user/(.*)$",
    "^@post/(.*)$",
    "^[./]"
  ],
  "importOrderBuiltinModulesToTop": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderSortSpecifiers": true
}
