{
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@root/(.*)$",
    "^@global/(.*)$",
    "^@workers/(.*)$",
    "^@auth/(.*)$",
    "^@services/(.*)$",
    "^@sockets/(.*)$",
    "^@user/(.*)$",
    "^[./]"
  ],
  "importOrderBuiltinModulesToTop": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
